.experienceBackground{
  background-image: url(../pics/plantwallrotated.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100%;
  width: 80%;
  position: fixed;
  top: 0%;
  left: 20%;
  text-align: left;
}

.experiencePic{
  height: 95%;
  width: 30%;
  border: solid;
  border-radius: 50px;
  float: left;
}

.experienceTitle{
  font-family: Times;
  font-size: 30px;
  font-weight: bold;
}

.experienceCaption{
  font-family: Times;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 1%;
}

.experienceSummary{
  left: 2%;
  position: relative;
  font-family: Times;
  font-size: 18px;
  text-align: left;
}

.experienceBox{
  position: relative;
  padding: 2%;
  height: 25%;
  width: 70%;
  overflow: auto;
}

/* .experienceBox::-webkit-scrollbar {
  display: none;
} */
