.experienceBackground{
  background-image: url(../pics/plantwallrotated.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100%;
  width: 80%;
  position: fixed;
  top: 0%;
  left: 20%;
}

.experiencePic{
  height: 35%;
  width: auto;
  position: fixed;
  left: 25%;
  top: 4%;
  border: solid;
  border-radius: 50px;
}

.experienceTitle{
  position: relative;
  font-family: sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  left: 45%;
  top: 5%;
}

.experienceSummary{
  position: relative;
  top: 7%;
  left: 45%;
  font-family: calibri;
  font-size: 20px;
  text-align: left;
}
