.homeBackground{
  background-image: url(../pics/sandtopedited.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100%;
  width: 80%;
  position: fixed;
  top: 0%;
  left: 20%;
}

.Iam{
  padding: 5%;
  color: black;
  font-size: 55px;
  font-weight: bold;
  font-family: monospace;
  position: fixed;
  bottom: 10%;
  right: 0%;
}
